.elementor-widget-wrap {
  background-image: url(https://www.peakinvest.com.br/wp-content/uploads/2021/01/05.png);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.elementor-widget-container {
  display: flex;
  font-size: 40px;
  margin-left: 3%;
  margin-top: 15%;
}


.links-container {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 30px;
  margin-right: 3%;
  margin-top: -3.5%;
}

.link-to-list {
  background-color: rgba(0, 0, 255, 0.555);
  color: inherit;
  text-decoration: none;
}

.link-to-calculation {
  background-color: rgba(255, 255, 0, 0.432);
  color: inherit;
  text-decoration: none;
}