.users-list-form {
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.users-list-input {
  width: 25vw;
}

.users-list-bk {
  background-image: url("https://www.peakinvest.com.br/wp-content/uploads/2019/03/imagem_investidor.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.users-list-bk-transparency {
  background-color: rgba(0, 0, 255, 0.411);
  color: white;
  height: 100vh;
  width: 970px;
  margin-left: 255px;
}

.users-list-page {
  background-color: black;
  margin-top: -3%;
}

.users-table {
  font-size: 25px;
  text-align: center;
  width: 50vw;
  margin-left: 10%;
  margin-top: 10%;
}

form {
  margin-top: 5%;
}

p {
  font-size: 30px;
}